torch==2.2.2
torchvision==0.17.2
opencv-python-headless
numpy<2
pillow
albumentations
tqdm
matplotlib
fastapi
uvicorn
python-multipart
azure-storage-blob
python-dotenv
pyyaml
pycocotools
scikit-learn
loguru
